@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Lato&display=swap');

:root{
    font-family: 'Lato', sans-serif;
    font-family: 'Barlow', sans-serif;
    padding: 0px;
    margin: 0px;
}
body{
    padding: 0px;
    margin: 0px;
    overflow-y: hidden
}