@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Lato&display=swap');

:root{
    font-family: 'Lato', sans-serif;
    font-family: 'Barlow', sans-serif;
    padding: 0px;
    margin: 0px;
}
body{
    padding: 0px;
    margin: 0px;
    overflow-y: hidden
}
.question-mark > img:hover {
    transform: scale(1.1);
    visibility: visible;
    opacity: 1;
}
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #20212d;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #444654;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }